.contactContainer {
    width: 100%;
    text-align: center;
    background-color: #7292DB;
    color: #FFF;
    padding: 1em 0 3em 0;
}
h1{
    font-size: 1rem;
    font-family: 'Comfortaa', cursive;
}

.ContactInfo {
    width: 100%;
}

.iconStyle {
    width: 75px;
    height: 75px;
}

  

  
 